.card {
  display: flex; 
  flex-direction: row;
  width: 500px;
  height: 300px;
  background-color: white;
  border: 1px solid #d3d3d3;
  padding: 15px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: lightgray;
}

.card_title {
  font-weight: bold;
}

.card_image {
  float: right;
}
