.card {
  width: 30vw;
  border: 1px solid rgb(245, 245, 245);
  background-color: white;
  padding-left: 1.5vw;
  padding-bottom: 0.3vh;
  padding-right: 10px;
  overflow: scroll;
  margin: 0 0 0 -2.8vw;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 245, 245);
  border: 1px solid #ffffff;
}



.card_title {
  font-family: circular-black;
  font-size: 1.2em;
  margin-bottom: -0.1rem;
  max-width: 19vw;
}

.card_rating {
  font-family: circular-book;
  font-size: 1em;
  color: rgb(117, 117, 117);
}

.card_photo {
  border-radius: 8px;
  float: right !important;
  display: flex !important;
  flex-direction: row !important;
  padding: 15px;
  margin-top: 10vh;

}

.photodiv {
  position: absolute;
  left: 21.5vw;
  vertical-align: middle;
}

.card_address {
  font-family: circular-book;
  font-size: 0.9em;
  color: rgb(128, 128, 128);
  max-width: 18vw;
}

.card_ratings_num {
  font-family: circular-book;
  font-size: 0.8em;
  color: rgb(117, 117, 117);
  letter-spacing: 0.02em;
}

.closed {
  color: red;
  font-family: circular-medium;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

.open {
  color: green;
  font-family: circular-medium;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

.card_distance {
  font-family: circular-book;
  font-size: 0.9em;
  color: rgb(128, 128, 128);
}

.card_stars {
  top: 1em;
}