.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  border: 1px solid rgb(245, 245, 245);
  background-color: white;
  padding-left: 18px;
  padding-bottom: 8px;
  padding-right: 10px;
  overflow: scroll;
  margin: 0 0 0 -2.7vw;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 245, 245);
  border: 1px solid #ffffff;
}

.card_image {
  float: right;
  width: 1.6em;
  padding: 5px;
}

.card_title {
  font-family: circular-black;
  font-size: 1.3em;
  align: left;
  margin-bottom: -0.1rem;
}

.card_photo {
  display: flex;
  border-radius: 8px;
  align-content: flex-top;
}

.card_address {
  font-family: circular-book;
  font-size: 0.9em;
  color: rgb(128, 128, 128);
}

.card_ratings_num {
  font-family: circular-book;
  font-size: 0.7em;
  color: rgb(117, 117, 117);
  letter-spacing: 0.02em;
  display: inline-flex;
}

.card_row_two {
  size-align: center;
  padding-top: 0.8rem;
  display: inline-flex;
}
