.dropdown {
  background: white;
  text-align: left;
  width: 25vw;
  margin-left: -2.75vw;
  margin-top: -3.4vh;
  padding-top: 1.4vh;
  padding-bottom: 0.5vh;
  display: static;
  position:static;
  border-radius: 0 0 5px 5px;
  overflow-x: hidden;
  cursor: pointer;
}

.listoptions {
  margin-left: -2.7vw;
  color: #575757;
  padding-bottom: 0.9vh;
  padding-top: 0.9vh;
  padding-left: 0.7vw;

}

.autobox {
  width: 25vw;
  font-family: circular-book;
  font-size: 1rem;
  color: rgb(39, 39, 39);
  height: 4vh;
  border: 0px;
  outline:0px;
  padding: 4px;
  border-radius: 5px;
  margin-right: 1vw;
  padding-left: 0.7vw;
  margin-top: -1vh;
  margin-bottom: 1vh;
}