.autoorigin {
  display: table-cell;
  vertical-align: middle;
}

.autodestination {
  display: table-cell;
  vertical-align: middle;
}

.search {
  font-family: circular-medium;
  font-size: 0.9rem;
  position: absolute;
  top: 19vh;
  left: 5vw;
  color: rgb(39, 39, 39) ;
  z-index: 10;
  margin: 0;
  padding: 2%;
  text-align: left;
  background: rgb(154, 235, 194);
  border-radius: 15px;
  max-width: 30vw;
  background-image: url('https://ibb.co/CBNGxBd');
  background-height: 30vh;
}

.searchtitle {
  color:#525252;
  letter-spacing: 1px;
  font-family: circular-medium;
}

.searchtitle2 {
  color:#525252;
  letter-spacing: 1px;
  font-family: circular-medium;
  width: 25vw;
  text-align: center;
  margin-left: -1.3vw;
}

.travelmode {
  font-family: circular-medium;
  font-size: 1rem;
  color: rgb(39, 39, 39);
  width: 11.5vw;
  height: 4vh;
  border: 0px;
  outline:0px;
  padding: 4px;
  border-radius: 5px;
  margin-right: 1vw;
}

.category {
  font-family: circular-medium;
  font-size: 1rem;
  color: rgb(39, 39, 39);
  width: 11.5vw;
  height: 4vh;
  border: 0px;
  outline:0px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 1vw;
}

.searchbutton {
  font-family: circular-medium;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: #2f2f2f;
  width: 24.5vw;
  height: 5vh;
  border: 0px;
  outline:0px;
  padding: 5px;
  text-overflow: ellipsis;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-left: 0.5vw;
  margin-bottom: 0.7vw;
}

.searchbutton:hover {
  font-family: circular-medium;
  font-size: 1rem;
  color: white;
  background: #697772;
  width: 24.5vw;
  height: 5vh;
  border: 0px;
  outline:0px;
  padding: 5px;
  text-overflow: ellipsis;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-left: 0.5vw;
  margin-bottom: 0.7vw;
}

.slider {
  margin-bottom: 8vh;
  width: 320px;
  align-items: center;
  text-align: center;
  margin-left: 2.4vh;
  margin-top: 4.6vh;
  color:#525252;
  letter-spacing: 1px;
  font-family: circular-medium;
}

.row2search {
  margin-top: 3.8vh;
  
}