.places {
  background-color: white;
  position: absolute;
  top: 0rem;
  right: 0%;
  width: 100%;
  max-width: 275px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  padding-left: 1rem;
  
}

