html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: circular-black;
  src: url(../public/CircularStd-Black.ttf) format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: circular-black;
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  color: rgb(24, 24, 24) ;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-100%);
  z-index: 10;
  width: 100%;
  max-width: 400px;
}