html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: circular-black;
  src: url(../public/CircularStd-Black.ttf) format("truetype");
}
@font-face {
  font-family: circular-book;
  src: url(../public/CircularStd-Book.ttf) format("truetype");
}
@font-face {
  font-family: circular-medium;
  src: url(../public/CircularStd-Medium.ttf) format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: circular-black;
  font-size: 5rem;
  letter-spacing: -0.3rem;
  position: absolute;
  top: 0.4rem;
  left: 1.2rem;
  color: rgb(24, 24, 24);
  z-index: 10;
  margin: 0;
  padding: 0;
}

h2 {
  display: inline-flex;
  font-family: circular-black;
  font-size: 1.5rem;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-100%);
  z-index: 10;
  width: 100%;
  max-width: 400px;
}

.ReactModalPortal {
  position: relative;
  z-index: 1000;
}

.button {
  font: inherit;
  border: 1px solid blue;
  background: blue;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-right: 42px;
  margin-top: 10px;
  float: right;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
